/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* General */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #b0d996;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ddd;
    max-width: 1100px;
    margin: 10px auto;
}

ul {
    list-style: none;
}

li {
    margin: 0 0.25rem 0 0;
}

/* Texts */
a {
    color: #333;
}

h1,
h2 {
    margin-bottom: 0.4rem;
}

h3,
h4 {
    margin: 1rem 0 0.2rem;
    line-height: 1.4;
}

h4:first-of-type {
    margin-top: 0.4rem;
}

p {
    margin: 0.2rem 0 0;
    line-height: 1.4;
}

code {
    background: #e7f3df;
    padding: 0.1rem 0.25rem;
    border: 1px solid #586c4b;
}

.outer-wrap {
    max-width: 100%;
    padding: 0.5rem;
}


/* Header */
.region-header {
    position: relative;
    display: inline-block;
    width: 100%;
}

.site-logo img {
    overflow: auto;
    width: 0%;
    height: 0%;
}

.site-logo-text {
    float: right;
    font-size: 1.5rem;
}

.site-logo-text a {
    text-decoration: none;
}

.my-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
}

.my-navbar li {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    background-color: #cfe8c0;
    border: 1px solid #333;
}

.my-navbar a {
    text-decoration: none;
}

/* Flash */
.region-flash {
    max-width: 100%;
    max-height: 150px;
}

.region-flash img {
    max-width: 100%;
}

.outer-wrap-flash {
    padding: 0;
}

/* Breadcrumb */
.breadcrumb-list li {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: #cfe8c0;
    border: 1px solid #333;
}

.breadcrumb-list a {
    text-decoration: none;
}

/* Main */
.outer-wrap-main {
    min-height: 200px;
}

.region-main {
    overflow: auto;
}

.next-previous {
    display: inline-block;
    width: 100%;
}

.next-previous a {
    text-decoration: none;
}

.right,
.next {
    float: right;
    margin-left: 0.5rem;
}

.left,
.region-sidebar-left,
.previous {
    float: left;
    margin-right: 0.5rem;
}

.next,
.previous {
    padding: 0.5rem 0.75rem;
    background-color: #cfe8c0;
    border: 1px solid #333;
}

.region-after-main {
    padding: 0.5rem 0 0;
    overflow: hidden;
    height: 108px;
}

.region-after-main h1 {
    margin-top: 0;
}

/* Footer */
.outer-wrap-footer {
    width: 100%;
}

.footer-column-wrapper {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-column {
    border: 1px solid #333; 
    background: #b0d996;
    padding: 0.5rem;
}

.footer-column h4 {
    text-align: center;
}

.site-footer {
    /* padding: 0.5rem; */
    text-align: center;
}